<h1 style="margin: 20px 20px; text-align: center">Prices</h1>
<br />
<table class="table-container">
  <tr>
    <th class="cell" style="width: 50px">#</th>
    <th class="cell">Name</th>
    <th class="num-cell">Price</th>
    <th class="num-cell">1h %</th>
    <th class="num-cell">24h %</th>
    <th class="num-cell">7d %</th>
    <th class="num-cell">Market Cap</th>
    <th class="num-cell">Volume (24h)</th>
  </tr>
  <!--<div *ngFor="let i of ...">-->
  <tr>
    <td class="cell">1</td>
    <td class="cell">Bitcoin BTC</td>
    <td class="num-cell">$23,834.50</td>
    <td class="num-cell up">&#8593; 0.48%</td>
    <td class="num-cell down">&#8595; 0.60%</td>
    <!--&#8595; == diminuer flèche and &#8593; == augmenter flèche-->
    <td class="num-cell down">&#8595; 1.48%</td>
    <td class="num-cell">$460,008,490,198</td>
    <td class="num-cell">$30,737,076,455</td>
  </tr>
  <!--</div>-->
</table>
