<div style="display: flex; margin: 0px 100px; margin-top: 100px;">
    <div class="container-home">
        <h2 class="title">Les nouvelles</h2>
        <div *ngFor="let article of nb_art">
            <div class="row" style="max-height: 200px;">
                <img>
                <div class="column" style="overflow: hidden; height: 170px; margin-bottom: 20px;">
                    <h4 class="article-title">Lorem impsum</h4>
                    <p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia,
                        nunc
                        eget sagittis imperdiet, elit eros fermentum lacus, vitae sollicitudin elit leo id nisi. Integer
                        vulputate, nulla in luctus vestibulum, arcu ex pharetra ante, ut placerat diam lacus quis odio.
                        Nulla varius ultrices dignissim. Cras ante leo, pretium sit amet justo at, suscipit mollis
                        turpis.
                        Donec cursus augue nisl. Donec in sapien velit. Etiam nec sapien diam. Integer sed purus
                        rhoncus,
                        accumsan nisl sit amet, iaculis libero. Quisque varius, erat in suscipit semper, libero lacus
                        consectetur nulla, eget mollis risus ipsum a mi. Donec vulputate pretium justo. Ut pellentesque
                        a
                        tortor pulvinar consectetur. Fusce posuere lacinia dictum. Morbi et tincidunt nulla, eu ornare
                        felis.

                        Nullam tempus vestibulum blandit. Morbi justo magna, elementum vulputate hendrerit ut,
                        consectetur
                        nec odio. Vivamus ac suscipit arcu. Cras ac lacus tortor. Mauris ante ipsum, auctor sed ultrices
                        nec, hendrerit in ex. Suspendisse fermentum libero sollicitudin massa sollicitudin, rutrum
                        imperdiet
                        nibh tristique. Nullam accumsan tortor ac sapien efficitur, rutrum ultrices diam lobortis.
                        Nullam at
                        orci at massa accumsan interdum. Cras in accumsan erat, a posuere dui. Nullam erat arcu,
                        vehicula
                        eget leo non, vestibulum posuere lacus. Pellentesque accumsan id ipsum vitae convallis.

                        Vestibulum sed sem sit amet lectus ornare scelerisque. Sed scelerisque orci nisl, non placerat
                        lectus faucibus non. In ut ex libero. Nullam at venenatis diam. Mauris elementum, eros eget
                        tempor
                        auctor, mi ante tristique magna, non fermentum ligula velit sed eros. In hac habitasse platea
                        dictumst. Suspendisse rutrum arcu nec orci porttitor aliquet. Ut ultricies tincidunt maximus.
                        Nullam
                        sed ultricies dolor, non condimentum arcu. Class aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos. Curabitur tincidunt auctor commodo. Quisque eget euismod
                        orci.</p>
                </div>
            </div>
        </div>

    </div>
</div>