<div style="display: flex; margin: 0px 100px; margin-top: 100px">
  <div class="container">
    <h2 class="title">Title {{this.id}}</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper
      iaculis massa eu cursus. Aenean vestibulum laoreet neque, eget suscipit
      tellus consequat at. Donec convallis, quam et tempus rhoncus, ligula
      tortor condimentum tellus, id gravida erat lectus sed dolor. Vivamus
      volutpat volutpat porta. Nullam nec gravida arcu. Vivamus volutpat nec ex
      nec sollicitudin. Donec faucibus sem vel suscipit commodo. Sed scelerisque
      tincidunt velit sit amet venenatis. Nullam quis ipsum eros.<br /><br />
      Quisque sit amet magna eu nulla scelerisque lobortis at nec nulla. Aliquam
      erat volutpat. Curabitur eu finibus mi. Mauris condimentum, risus sed
      porttitor blandit, magna tortor porta mi, sed varius eros lectus nec
      metus.<br /><br />
      Curabitur volutpat, risus ac congue semper, est turpis molestie mauris, in
      ullamcorper augue justo ac lacus. Donec mattis eget enim sit amet dictum.
      Sed semper massa sit amet massa fermentum luctus. Sed id venenatis ipsum.
      Morbi sagittis enim at leo fringilla fermentum. Vivamus auctor, velit ac
      viverra lacinia, urna eros mollis magna, in condimentum quam neque ut
      nisi. Mauris libero erat, vestibulum ut varius ac, pharetra sed metus.
      Curabitur pulvinar nibh lacus, sit amet fringilla nulla tempus non. In
      pulvinar eros velit. Maecenas neque mauris, dapibus et erat at, convallis
      hendrerit odio. Etiam quis odio at arcu suscipit egestas. Mauris tincidunt
      ultricies quam. <br /><br />Cras pretium mollis mi, non tincidunt est vestibulum nec.
      Curabitur vehicula felis neque, nec varius nibh sagittis ac. Donec
      consectetur urna vitae metus consequat suscipit. Proin mollis purus
      libero, vel lobortis lectus viverra ac. Donec consequat pellentesque
      varius. Maecenas aliquam sem ut neque ultricies bibendum. Nullam sed
      sagittis elit, in semper augue. Aliquam ac rhoncus odio. Curabitur ac urna
      lacus. Nullam non ligula placerat, facilisis tellus at, viverra metus.
      Nunc nec orci scelerisque, rhoncus urna vel, vulputate urna. Donec a ipsum
      risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
      dapibus, arcu et consequat imperdiet, felis diam maximus elit, eget
      pulvinar diam enim eu diam. Nam quis odio a felis imperdiet feugiat. Donec
      quis libero suscipit, semper ligula vitae, cursus tortor. Vestibulum non
      sagittis mi. Vestibulum turpis leo, pulvinar sed blandit vitae, tincidunt
      et lacus. Ut posuere ante ac dui iaculis lacinia. Donec sit amet facilisis
      ipsum. Integer scelerisque, libero ac rutrum posuere, magna elit cursus
      arcu, eu aliquet justo magna at nibh. Aenean finibus ante magna, nec
      hendrerit ex eleifend a. Maecenas eget pharetra sem. In a ipsum at risus
      placerat tempor eget non lectus. Sed viverra ex id tellus ultrices mattis.
      Morbi laoreet tristique massa at accumsan. Sed ligula tellus, congue eget
      tempus sed, porta sit amet libero. Duis vitae mi nibh. Nullam malesuada
      interdum feugiat. Sed sit amet mollis eros. Aenean mattis tempus
      pellentesque. Maecenas pulvinar ac enim eget maximus. Nulla facilisi.
      Morbi ullamcorper metus nec finibus vestibulum. In volutpat sapien sed
      tellus molestie fringilla. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos. Duis in est a sem vehicula
      consectetur.
    </p>
    <img>
    <hr />
  </div>
</div>
